<h1>Listing new_items</h1>

<table>
  <thead>
    <tr>
      <th>Itemtype</th>
      <th>Itemid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @new_items.each do |new_item| %>
      <tr>
        <td><%= new_item.itemtype %></td>
        <td><%= new_item.itemid %></td>
        <td><%= link_to 'Show', new_item %></td>
        <td><%= link_to 'Edit', edit_new_item_path(new_item) %></td>
        <td><%= link_to 'Destroy', new_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New item', new_new_item_path %>
