<%= form_for(@flickr_photo) do |f| %>
  <% if @flickr_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flickr_photo.errors.count, "error") %> prohibited this flickr_photo from being saved:</h2>

      <ul>
      <% @flickr_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ownername %><br>
    <%= f.text_field :ownername %>
  </div>
  <div class="field">
    <%= f.label :photo_url %><br>
    <%= f.text_field :photo_url %>
  </div>
  <div class="field">
    <%= f.label :date_added %><br>
    <%= f.datetime_select :date_added %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
